#game .reactContainer.successInfo {
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  h2 {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: inherit;
    margin: 0 0 .5em;
    color: #fff;
  }
  p {
    color: #fff;
    margin: 0 0 2em;
  }
  a.button {
    display: block;
    margin: 1.4em auto 0;
    width: 90%;
    max-width: 240px;
    padding: 9px 8px 8px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #000;
    background: #e1e1e3;
    border-bottom: 5px solid #a5a6a8;
    box-shadow: 1px 1px 12px rgba(0,0,0,.5);
    cursor: pointer;
  }
}